<!DOCTYPE html PUBLIC "-//IETF//DTD HTML//EN">
<meta charset="UTF-8">
<html class="gr__tools_verbix_com"><script type="text/javascript">window["_gaUserPrefs"] = { ioo : function() { return true; } }</script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<!--
IMPORTANT: 
1) Ensure that the special tags conjugue=xxx include NO extra spaces, not on the left side nor on the right side.
2) The following BASE tag ensures that the relative links work correctly.
-->
<!--<base href="http://tools.verbix.com/webverbix/personal/">--><base href=".">

<table>
    <tr>
        <td id="present_active"><!--conjugue=0--></td>
        <td id="perfect_active"><!--conjugue=4--></td>
        <td id="supine"><!--conjugue=32--></td>
        <td id="infinitive_active"><!--conjugue=40--></td>
        <td id="present_passive"><!--conjugue=10--></td>
        <td id="perfect_passive"><!--conjugue=14--></td>
        <td id="infinitive_passive"><!--conjugue=30--></td>
    </tr>
</table>
</body>
</html>

